<%layout("./layouts/boilerplate.ejs")-%>
<div class="row cols-3 offset-2 mt-4">
  <div class="col-8 w-60">
    <h4><%=course.CourseName%> &gt; Edit chapter Details</h4>
    <hr />
    <form
      action="/courses/<%=course.id%>/chapters/<%=chapter.id%>?_method=PUT"
      method="post"
    >
      <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
      <div>
        <label for="ChapterName" class="form-label fs-5 fw-medium"
          >Give the Chapter Name you want to Update</label
        >
        <input
          id="ChapterName"
          type="text"
          class="form-control"
          name="ChapterName"
          value="<%=chapter.ChapterName%>"
        />
      </div>
      <div class="mt-2">
        <label for="Description" class="form-label fs-5 fw-medium"
          >Description</label
        >
        <Textarea
          id="Description"
          name="Description"
          class="form-control"
          rows="4"
        >
          <%=chapter.Description%></Textarea
        >
      </div>
      <button class="btn btn-warning mt-3">Edit</button>
    </form>
  </div>
</div>
